.debugfn {
	color: #ccc;
}

.log {
	padding: 0 0.7em;
	margin-right: 1em;
}

.log_error {
	color: #fff;
	background-color: orangered;
}

.log_info {
	background-color: LightSkyBlue;
}

.log_warning {
	background-color: LightYellow;
}

.inn-addresscard {
	border: 2px solid #07c;
	border-radius: 16px;
	padding: 20px;
}

.inn-addresscard li {
	list-style-type: none;
}
